BEGIN:VEVENT
UID:__UUID__
DTSTAMP;VALUE=DATE:__GREGORIAN_DATE_GENERATION__
SUMMARY:__FRC_DATE_DAY__ __FRC_DATE_MONTH__ __FRC_DATE_YEAR__ : __FRC_DATE_OBJECT__
DTSTART;VALUE=DATE:__GREGORIAN_DATE_START__
DTEND;VALUE=DATE:__GREGORIAN_DATE_END__
END:VEVENT